* {
    text-decoration: none;
}
.main {
    width: 600px;
    height: 600px;
    background-color: rgb(153, 153, 250);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
}
h2 {
    text-align: center;
}
.first {
    width: 300px;
    height: 150px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border-radius: 10px;
    text-align: center;
    background-color: rgb(0, 221, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.large {
    width: 180px;
    height: 300px;
    background-color: rgb(0, 221, 255);
    border-radius: 10px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}
.left {
    left: 5%;
}
.center {
    width: 150px;
    height:auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.right {
    right: 5%;
}