* {
    color: black;
    text-decoration: none;
}
.top {
    top: 0%;
    left: 0%;
    width: auto;
    height: auto;
}
.p2p {
    float: left;
    width: 60px;
    height: 30px;
    font-size: small;
}
.lefton {
    position: absolute;
    top: 2%;
    left: 1%;
    width: auto;
    height: auto;
}
.righton {
    position: absolute;
    top: 2%;
    right: 1%;
    width: auto;
    height: auto;
}
.into {
    position: absolute;
    top: -10%;
    background-color: #4e6ef2;
    width: 50px;
    height: 24px;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    position: absolute;
    top: 9%;
    left: 50%;
    transform: translate(-50%);
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
}
.search {
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    width: 650px;
    height: 40px;
    border: solid #c4c7ce;
    border-radius: 10px;
}
.searchin {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 540px;
    height: 40px;
    display: flex;
    justify-content: right;
    align-items: center;
    border-radius: 10px;
}
.searchtxt {
    width:540px;
    height:37px;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 20px;
}
.searchpicture {
    position: absolute;
    top: 17%;
    right: 1%;
    width: 28px;
    height: 40px;
}
.searchout {
    background-color: #4e6ef2;
    position: absolute;
    top: -5%;
    right: -1%;
    width: 115px;
    height: 45px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-color: #4e6ef2;
    font-size: large;
    color: white;
}
.hot {
    background-color: #4e6ef2;
    width: 650px;
    height: auto;
    position: absolute;
    top: 34%;
    left: 31%;
    font-size: 15px;
}
.hot1 {
    position: absolute;
    left: 0%;
    top: 0%;
    width: auto;
    height: auto;
    font-weight: 700;
}
.hot2 {
    position: absolute;
    right: 0%;
    top: 0%;
    width: 80px;
    height: auto;
    font-weight: 100;
}
.myhot {
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%);
    width: 650px;
    height: 160px;
    line-height: 34px;
}
.myhot1 {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 300px;
    height: 160px;
}
.myhot2 {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 300px;
    height: 160px;
}
.small {
    position: absolute;
    top: 85%;
    right: 2%;
}
.last {
    position: absolute;
    top: 97%;
    left: 8%;
    font-size: 12px;
    color: #bbb;
}